<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        {{#each posts}}
        <li class="list-group-item">
        <div class="lead">{{post.title}}</div>
        <a href="{{post.url}}" target="_blank">{{post.url}}<a>
        <div><small>{{this.author.username}}</small></div>
        <div class="text-right">
            <a href="/n/{{post.subreddit}}">{{post.subreddit}}<a>
        </div>

        <form class="vote-up" data-id="{{this._id}}">
            <button type="submit">Vote Up</button>
        </form>
        |
        <form class="vote-down" data-id="{{this._id}}">
            <button type="submit">Vote Down</button>
        </form>
        </li>
        {{/each}}
    </div>
</div> 